@mixin sm {
  @media(min-width: 480px){
    @content;
  }
}

@mixin md{
  @media(min-width: 768px){
    @content;
  }
}

@mixin lg{
  @media(min-width: 976px){
    @content;
  }
}

@mixin xl{
  @media(min-width: 1440px){
    @content;
  }
}

// 隱藏數字輸入框 (Input Number) 的上下箭頭 (Arrows) 控制項
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}


// swiper
:root {
  --swiper-theme-color: #39B7DF !important;
}

.swiper {
  width: 100%;
  margin: 20px auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 1 !important;
  transition: 0.1s;
}

.swiper-pagination-bullet-active {
  background: #39B7DF !important;
  width: var(--swiper-pagination-bullet-width, 32px) !important;
  border-radius: 25px !important;
  transition: 0.35s;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 10;
  top: 22px !important;
  width: calc(100vw / 10) !important;
  @include sm{
    width: calc(100vw / 8) !important;
  }
}

.indexCardSwiper>.swiper-button-prev,
.indexCardSwiper>.swiper-button-next {
  height:150px !important;
}

.indexProductSwiper>.swiper-button-prev,
.indexProductSwiper>.swiper-button-next {
  height:435px !important;
}

.productsArticleSwiper>.swiper-button-prev,
.productsArticleSwiper>.swiper-button-next,
.productModalSwiper>.swiper-button-prev,
.productModalSwiper>.swiper-button-next,
.productSwiper>.swiper-button-prev,
.productSwiper>.swiper-button-next {
  width: 10vw !important;
  @include md{
    width: calc(100vw / 20) !important;
  }
  height:100% !important;
}

.productModalSwiper>.swiper-button-prev,
.productModalSwiper>.swiper-button-next {
  @include xl{
    width: calc(100vw / 25) !important;
  }
}

.swiper-button-prev {
  left: 0 !important;
  background: linear-gradient(to left, transparent,#2b282fa9 30% , #2B282F);
}

.indexProductSwiper>.swiper-button-prev {
  @include lg {
    left: 15% !important;
  }
}

.swiper-button-next {
  right: 0 !important;
  background: linear-gradient(to right, transparent,#2b282fa9 30% , #2B282F);
}

.indexProductSwiper>.swiper-button-next {
  @include lg {
    right: 15% !important;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "" !important;
  width: 32px;
  height: 32px;
  background-position: center center;
  background-size: 24px;
  background-repeat: no-repeat;
  @include sm{
    background-size: 32px;
  }
}

.swiper-button-prev::after {
  background-image: url(@/images/arrow-circle-left.png);
}

.swiper-button-next::after {
  background-image: url(@/images/arrow-circle-right.png);
}

// sweetAlert2
.swal2-top {
  top: calc(105px + env(safe-area-inset-top));
}
.admin-swal2-top {
  top: calc(80px + env(safe-area-inset-top));
}

.progress-bar.swal2-timer-progress-bar{
  --tw-bg-opacity: 1;
  background-color: rgb(57 183 223 / var(--tw-bg-opacity));
}

.admin-progress-bar.swal2-timer-progress-bar {
  --tw-bg-opacity: 1;
  background-color: rgb(6 148 162 / var(--tw-bg-opacity));
}